<launch>
    <node ns="/" name="scenario_instance" pkg="ros_scenario" type="scenario_client.py" output="screen">
	<rosparam file="$(find ros_scenario)/config/scenario_config.yaml" command="load" />
    </node>
    <node ns="/" name="force_controller" pkg="ros_clients" type="force_controller_example_client.py" output="screen">
        <rosparam file="$(find ros_clients)/config/example_client.yaml" command="load" />
    </node>
    <node ns="/" name="pos_controller" pkg="pos_pkg" type="pos_client.py" output="screen">
    </node>
</launch>
